/*
#6A5ACD SlateBlue	
#836FFF SlateBlue1	
#191970 Azul escuro
*/

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Jersey 15", sans-serif;
 
 font-style: unset;
 scroll-behavior: smooth;
}

body {
    background-color: #a1b0f5;
    margin: 0;
}

header {
    background-color: #080849;
    ;
    margin: 0;
    padding: 15px 15px;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1000;
    color: #f2f5df;
   
}


div img {
    width: 15%;
}

h1 {
    color: #080849;
    text-align: center;
    font-style: unset;
    margin: 20px;
}

h2 {
    color: #3c3cb6;
    text-align: center;
    font-style: italic;
    margin: 20px;
}

p {
    text-align: left;
    font-size: large;
    margin: 20px;
}


ul li {
    color: #03033b;
    font-size: large;
}

footer {
    background-color: #3a4394;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

h3 {
    color: #f2f5df;
    text-align: left;
    font-style: unset;
    background-color: #3c3cb6;
    margin: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-left: 20px;
    margin-right: 40px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.banner {
    background: url(../img/images.jpg) no-repeat center/cover;
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    font-size: 15px;
    color: #000000;
    z-index: 10;
    margin-top: 65px;

}

.banner h1 {
    color: rgb(255, 255, 255);
    margin-left: 20px;
    font-size:xx-large;
    font-weight: bold;

}

#sobre {
    padding: 35px;
    background-color: #dddadd;
    color: #757375
}

.sobre-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    max-width: 1400px;
    margin: auto;
}

.sobre-texto {
    flex: 1;
    padding: 20px;
}

.sobre-texto h1 {
    font-size: 1.5;
    margin-bottom: 20px;
}

.sobre-texto p {
    font-size: 1;
    line-height: 1.5;
    text-align: justify;
    margin-top: 10px;
}

.sobre-texto h2 {
    margin-top: 20px;
}

.hex-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    flex: 1;
}

.hex {
    width: 200px;
    height: 173.2px;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%,
            75% 100%, 25% 100%, 0% 50%);
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    margin-top: -20px;
}

.hex img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.card {
    width: 70%;

}

#acao .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    text-align: center;
    padding: 50px 0;
}

#acao .item {
    background-color: #3c3cb6;
    border: #080879;
    border-radius: 30px;
    padding: 20px;
    cursor: pointer;
}

#acao .item:hover {
    transform: translatey(-5px);
    box-shadow: 0 8px 16px #3c3cb6;
}

.hex:hover {
    transform: scale(1.05);
}


.logo {
    font-size: 2em;
    font-weight: bold;


}


/* Modal */
.modal {
    background: white;
    padding: 100px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(21, 1, 1, 0.544);
    margin: auto;
    text-align: center;
   

}


.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #4d3f72;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    cursor: pointer;
    margin: auto;
}

/*modal*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #0000003f;
    display: none;
    justify-content: center;
    align-items: center;
    
}

.modal:target {
    display: flex;
}

.modal-container {
    max-height: 60vh;
    overflow-y: auto;
    background: rgb(171, 148, 255);
    padding: 100px;
    border-radius: 10px;
    max-width: 400px;
    text-align: center;
    max-width: 600px;
    text-align: justify;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.432);

}

.close-btn {
    margin-top: 20px;
    display: inline-block;
    padding: 8px 16px;
    background: #dc3545;
    color: white;
    border-radius: 6px;
    text-decoration: none;
}

.curiosidades {
    font-size: 1;
    line-height: 1.5;
    text-align: justify;
    margin-top: 10px;
    margin: 4%;

}

.premiacoes p {
    text-align: center;
}

.temas p {
    text-align: center;

}


.grade {
    margin: 20px;
   
}

.gradefoto {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 100%;
    min-width: 90%;
    justify-content: space-between;

}

.grades {
    background-color: #ebe2e2de;
    padding: 20px;
}

.grade img {
    width: 250px;
    height: 250px;
    display: flex;
}

.grade h1 {
    text-align: center;
}


.contato{
    text-align: center;
}

.lora{
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

@media (max-width:675px) {

    header .container,
    .sobre-container {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        margin-top: 10px;
        flex-direction: column;
    }

    .banner {
        margin-top: 160px;
    }

    section {
        scroll-margin-top: 200px;
    }

    .modal {
        margin-top: 100px;
    }

    .modal-content {
        max-height: 60vh;
    }
}