/*
#6A5ACD SlateBlue	
#836FFF SlateBlue1	
#191970 Azul escuro
*/

body {
    background-color: #a1b0f5;
    margin: 0;
}

header {
    background-color: #080849;	;
    margin: 0;
    padding: 15px 15px;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1000;
    color: #f2f5df;
    font-family: Arial, Helvetica, sans-serif;
}

div img{
    width: 15%;
}

h1 {
    color: #080849;
    text-align: center;
    font-style: unset;
    margin: 20px;
}

h2 {
    color: #3c3cb6;
    text-align: center;
    font-style: italic;
    margin: 20px;
}

p {
    text-align: left;
    font-size: large;
    margin: 20px;
}

img {
    width: 40%;
    display: block;
    margin: auto;
}

ul li {
    color: #03033b;
    font-size: large;
}

footer {
    background-color: #3a4394;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

h3 {
    color: #f2f5df;
    text-align: left;
    font-style: unset;
    background-color: #3c3cb6;
    margin: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-left: 20px;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.banner{
    background: url(../img/banner10.jpg) no-repeat center/cover;
    height: 400px;
    margin-top: 65px;
    display: flex;
    align-items: center;
    justify-content: left;
    color: #fff;
    font-size: 1.5em;
    text-align: left;
    text-shadow: 2px.2px.2px.2px;
    margin: 0;
    
}
.banner2{
    
    margin-top: 65px;
    display: flex;
    align-items: center;
    justify-content: left;
    color:#ffffff;
    background-color: #0c054b79;;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;    

}



.logo{
    font-size: 2em;
    font-weight: bold;
    

}
@media( max-width:675px ){
    header .container{
        flex-direction: column;
        text-align: center;
     }

nav ul{
    margin-top: 10px;
    flex-direction: column;
}
}
