

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Jersey 15", sans-serif; 
 font-style: normal;
 scroll-behavior: smooth;

}

a{
  text-decoration: none;  
}


.logo{
  width: 35%;
}

.container {
    max-width: 1100px; 
    margin: auto; 
    padding: 20px; 
}

body{
    background-color: #7a7fb3;
}

section{
    scroll-margin-top: 90px;
}

header{
    background-color: #25366d ;
    color: #e8f8bd;
    padding: 15px 15px 15px 15px;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1000 ;

}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    font-size: 3em;
    font-weight: bold;
}

nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li{
    margin-left: 20px;
    font-size: 1.3em;
}

nav ul li a{
    color: #f4fac3;
    text-decoration: none;    
}

.banner{
    background:url(../img/banner.ofc.avif) no-repeat center/cover;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    align-items: flex-start;
    justify-content: center;
    padding-left: 30px; 
    color: #ffffff;
    font-style: italic;
    font-size: 1.4em;
    text-align:left;
}

.bannercontato{
    background:url(../img/BANNER.jpg) no-repeat center/cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    align-items: flex-start;
    justify-content: center;
    padding-left: 30px;
    color: #240361;
    font-size: 1.6em;
    text-align:left;
    text-shadow: 2px 2px 5px #dfe0e5;
}


#sobre{
    padding: 35px;
    color: #000080 ;
}

.sobre-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    max-width: 1400px;
    margin: auto;
}

.sobre-texto{
    flex: 1;
    padding: 20px;

}

.sobre-texto h1{
 font-size: 1.7em;
 margin-bottom: 20px;
 color: #25366d;
 
}

.sobre-texto p{
    font-size: 1.2em;
    line-height: 1.5;
    text-align: justify;
    margin-top: 10px;
    color: #ffffff;
   }

.sobre-texto h2{
    margin-top: 15px;
    color:#25366d ;

 }

.sobre-texto a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1em;
 }

 .fonte{
    font-size:1em;
 }

.hex-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    flex: 1;
}

.hex{
    width: 140px;
    height: 120px;
    clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
    overflow: hidden;
    background-color: #ccc;
    position: relative;
}

.hex img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}  

.imgcard{
    width: 70%;
}

.centralizado{
    text-align: center;
}

#acao .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 20px; 
    text-align: center; 
    padding: 50px 0; 
}

#acao .item {
    background-color: #80a3e2a1; 
    border: 1px solid #9c9d9e; 
    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6); 
    transition: transform 0.2s ease, box-shadow 0.2s ease; 
    cursor: pointer; 
  
}

#acao .item:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  }

#acao .item:active {
    transform: scale(0.98); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15); 
}

#acao .item p {
    margin-top: 15px; 
    font-size: 1.2em; 
    color: #000080; 
}

#acao .imagem img {
    width: 100%; 
    max-width: 150px; 
    height: auto; 
    margin-bottom: 10px; 
}
.centraliza{
    text-align: center;
    color: #fff;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
  }
  
  .galeria img {
    width: 100%;
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  
  .galeria img:hover {
    transform: scale(1.03);
  }


  .formulario-contato {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
    margin-top: 40px;
    color: #000080;
  }
  
  .grupo-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-size: 1.2em;
  }
  
  .grupo-form input,
  .grupo-form select,
  .grupo-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1em;
    margin-top: 8px;
  }
  
  .grupo-form input[type="checkbox"],
  .grupo-form input[type="radio"] {
    margin-right: 8px;
    margin-top: 0;
  }
  
  .grupo-form label {
    margin-bottom: 5px;
    font-weight: bold;
  }

  input[type="range"] {
    accent-color: #5959a8; 
  }  


body.paginamensagem {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body.paginamensagem main {
  flex: 1;
}

.mensagem{
  margin-top: 10%;
  background-color: aquamarine;
}
/*modal*/


.modal {
    background: rgb(178, 171, 245);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin: auto;    
    text-align: justify;    
  } 

  .btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #000080;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    cursor: pointer;
  }

  /* Modal */

  .modal {
    margin-top: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
  }

  .modal:target {
    display: flex;
  }

.modal-content {
    max-height: 90vh;
    overflow-y: auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    max-width: 600px;
    text-align: justify;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  }

  .modal-content h4{
    margin-top: 2%;
    font-size: 1.1rem;
    margin-bottom: 2%;
   
  }

  .listacard{
    margin-top: 1%;
    margin-left: 10%;
  }

  .modal-content h3{
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1.4rem;
  }

  .close-btn {
    margin-top: 20px;
    display: inline-block;
    padding: 8px 16px;
    background: #dc3545;
    color: white;
    border-radius: 6px;
    text-decoration: none;
  }

@media (min-width: 1200px) {
    .galeria {
      grid-template-columns: repeat(4, 1fr);
    }
  }


@media (max-width:675px){

  .logo{
    width: 45%;
  }
    header .container, .sobre-container{
        flex-direction: column;
        text-align: center;        
    }

    nav ul{
        margin-top: 10px;
        flex-direction: column;        
    }
    
    .banner{
        margin-top: 160px;
    }
    section{
        scroll-margin-top: 200px;
    }

     .modal{
        margin-top: 100px;
    } 
    
    .modal-content{
        max-height: 60vh;
    }   

    .formulario-contato {
        padding: 20px;
      }
}
    


   




